%buttons {
  padding: calculateRem(2) calculateRem(10) calculateRem(2) calculateRem(10);
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  text-decoration: none;
  @include borderRadius(5);
  cursor: pointer;
  @include transition(0.35s, ease-in-out);
}
