$black: #000;
$white: rgb(230, 222, 222);

$background: rgb(17, 16, 16);
$flesh: #ffd3c1;
$hair: #4d280f;
$tshirt: #5e1172;
$mouth: #1a1b1b;

$primary: rgb(20, 151, 212);
$primaryLight: rgba(20, 151, 212, 0.6);
$secondary: rgba(142, 46, 167, 0.9);

$stageWad: #fa3a24;
$hackathon: #f57826;
$becode: #f0e100;
$jobP: #6461a0;
$stageV2: #1098f7;
$stageV1: #58fcec;
$jobStudent: #35ce8d;
$retho: #9d6381;

$pink: #ff01fb;
$yellow: #ffd400;
$green: #19d652;
$buttonHomePage: #89023e;

$borderFooter: rgba(240, 226, 223, 0.5);

$bangs_height: 40;
$bangs_top: -12;
$bangs_width: 94%;
$head_height: 90;
$head_width: 70;
$head_top: 10;
