.footerContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  .footerContent {
    color: $white;
    width: 80%;
    text-align: center;
    border-top: 1px solid rgba(240, 226, 223, 0.5);
    margin: 0 auto;
  }
}
