.containerCv {
  background-color: $black;
  padding: calculateRem(20) 0 calculateRem(20) 0;
  width: 100%;
  min-height: calc(100vh - 3.125rem);

  .containerButtonLang {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: calculateRem(10);
    .buttonLanguage {
      @extend %buttons;
      @include borderRadius(5);
      cursor: pointer;
      &:hover {
        border-color: $green;
      }
    }
  }

  /*  HEADER  */
  .blockHead {
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-color: $primary;
    text-align: center;
    @include borderRadius(10);
    h3 {
      padding-bottom: calculateRem(5);
    }
  }

  /*  About  */
  .blocAbout {
    position: relative;
    @include flexCenter();

    .picture {
      margin-bottom: calculateRem(5);
      width: calculateRem(150);
      height: calculateRem(179);
      border: 3px solid $primary;
      @include flexCenter();
      @include borderRadius(5);
      .imgMe {
        width: calculateRem(130);
        height: calculateRem(174);
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }

    .about {
      border: 3px solid $primary;
      width: 76%;
      height: auto;
      @include borderRadius(5);
      margin-left: calculateRem(10);
      h2 {
        text-align: center;
        color: rgb(240, 101, 67);
        font-weight: bold;
      }
      p {
        color: #e1ece4;
        padding-left: calculateRem(5);
        padding-right: calculateRem(5);
      }
    }
  }

  /*  Skills  */
  .blocSkills {
    position: relative;
    @include flexCenter(column);
    h2 {
      color: #f5f749;
      font-weight: bold;
    }
    .skills {
      @include flexCenter();
      color: rgb(241, 235, 235);
      margin-bottom: 1rem;

      .skillTop,
      .skillMiddle,
      .skillBasic,
      .bonneConnaissance,
      .connaissanceMoyenne,
      .connaissanceBasique {
        @include flexCenter(column);
        margin-top: 1rem;
        margin-left: calculateRem(30);
        margin-right: calculateRem(30);
        p {
          margin-top: 0;
        }
      }
    }
  }

  /*  Formation  */
  .blocTraining {
    position: relative;
    @include flexCenter(column);

    h2 {
      color: #d7263d;
    }

    .trainingBecode,
    .fleronTraining,
    .uniV,
    .uniPsy,
    .uniSc,
    .saintJacques {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-top: calculateRem(15);
      color: rgb(241, 228, 228);
      width: 80%;
    }

    .titleTrainingBecode,
    .titleTrainingFleron,
    .titleTrainingUniV,
    .titleTrainingUniPsy,
    .titleTrainingUniSc,
    .titleTrainingSJ {
      width: 30%;
      text-align: center;
      font-size: calculateRem(17);
      font-weight: bold;
    }

    .dateTrainingBecode,
    .dateTrainingFleron,
    .dateTrainingUniV,
    .dateTrainingUniPsy,
    .dateTrainingUniSc,
    .dateTrainingSJ {
      height: calculateRem(30);
      line-height: calculateRem(30);
      background-color: #d7263d;
      font-size: calculateRem(18);
      font-weight: bold;
      @include borderRadius(20);
      text-align: center;
    }

    .descriptionTrainingBecode,
    .descriptionTrainingFleron,
    .descriptionTrainingUniV,
    .descriptionTrainingUniPsy,
    .descriptionTrainingUniSc,
    .descriptionTrainingSJ {
      width: 34%;
      text-align: center;
      font-style: italic;
    }

    // BECODE
    .trainingBecode {
      .titleTrainingBecode {
        color: $yellow;
      }
      .dateTrainingBecode {
        width: calculateRem(60);
        @media (max-width: 1024px) {
          width: calculateRem(120);
        }
      }
      .descriptionTrainingBecode {
        color: $yellow;
      }
    }

    // FLERON
    .fleronTraining {
      .dateTrainingFleron {
        width: calculateRem(110);
        @media (max-width: 1024px) {
          width: calculateRem(120);
        }
      }
    }

    // UNIV VETE
    .uniV {
      .dateTrainingUniV {
        width: calculateRem(160);
        @media (max-width: 1024px) {
          width: calculateRem(120);
        }
      }
    }

    // UNIV PSY
    .uniPsy {
      .dateTrainingUniPsy {
        width: calculateRem(210);
        @media (max-width: 1024px) {
          width: calculateRem(120);
        }
      }
    }

    // UNIV SCIENCES H&S
    .uniSc {
      .dateTrainingUniSc {
        width: calculateRem(250);
        @media (max-width: 1024px) {
          width: calculateRem(120);
        }
      }
    }

    // SAINT-JACQUES
    .saintJacques {
      .dateTrainingSJ {
        width: calculateRem(290);
        @media (max-width: 1024px) {
          width: calculateRem(120);
        }
      }
    }
  }

  /*  Experiences  */
  .blocXp {
    margin-top: calculateRem(20);
    margin-bottom: calculateRem(25);
    position: relative;
    @include flexCenter(column);

    h2 {
      color: #c2aff0;
    }

    .separator {
      width: calculateRem(15);
      height: calculateRem(15);
      background-color: #c2aff0;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }

    .stageWad,
    .hackathonW,
    .becode,
    .job,
    .stagevete2,
    .stageVete1,
    .jobStudent,
    .jobStudentRetho {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 80%;
      margin-top: calculateRem(15);
    }

    .xp {
      font-style: italic;
    }
    .xp,
    .date {
      width: 40%;
      text-align: center;
    }
    .date {
      font-size: calculateRem(20);
      font-weight: bold;
    }

    .stageWad {
      color: $stageWad;
    }
    .hackathonW {
      color: $hackathon;
    }
    .becode {
      color: $becode;
    }
    .job {
      color: $jobP;
    }
    .stagevete2 {
      color: $stageV2;
    }
    .stageVete1 {
      color: $stageV1;
    }
    .jobStudent {
      color: $jobStudent;
    }
    .jobStudentRetho {
      color: $retho;
    }
  }

  /*  DOWNLOAD  */
  .download {
    margin: calculateRem(10) auto;
    padding-top: calculateRem(30);
    @include flexCenter();
    width: 90%;
    button {
      padding: calculateRem(2) calculateRem(10) calculateRem(2) calculateRem(10);
      background-color: transparent;
      border: 2px solid $white;
      color: $white;
      @include borderRadius(5);
      @include transition(0.35s, ease-in-out);
      cursor: pointer;
      &:hover {
        border-color: $yellow;
      }
    }
  }

  /*  Buttons */
  .containerLink {
    margin: 0 auto;
    padding-bottom: calculateRem(30);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    .buttonReturn {
      @extend %buttons;
      &:hover {
        border-color: $primary;
      }
    }
    .buttonPortfolio {
      @extend %buttons;
      &:hover {
        border-color: $pink;
      }
    }
  }
}
