.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $background;

  .card {
    width: 70vw;
    height: 70vw;
    background-image: url("./../assets/logoMsBlueW.png");
    background-position: center center;
    background-size: 60vw;
    background-repeat: no-repeat;
    border: 4px solid rgb(20, 151, 212);
    -webkit-border-radius: calculateRem(70);
    border-radius: calculateRem(70);
    -webkit-box-shadow: 0 calculateRem(10) calculateRem(30) calculateRem(-5)
      rgba(251, 251, 251, 0.3);
    box-shadow: 0 calculateRem(10) calculateRem(30) calculateRem(-5)
      rgba(251, 251, 251, 0.3);
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    will-change: transform;
    cursor: pointer;

    @media screen and(min-width:425px) {
      width: 50vw;
      height: 50vw;
      background-size: 40vw;
    }
    @media screen and(min-width:600px) {
      width: 40vw;
      height: 40vw;
      background-size: 30vw;
    }
    @media screen and(min-width:850px) {
      width: 25vw;
      height: 25vw;
      background-size: 20vw;
    }

    &:hover {
      -webkit-box-shadow: 0 calculateRem(30) calculateRem(100) calculateRem(-10)
        rgba(255, 255, 255, 0.4);
      box-shadow: 0 calculateRem(30) calculateRem(100) calculateRem(-10)
        rgba(255, 255, 255, 0.4);
    }
  }

  /*   BUTTONS   */
  .divButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .social {
    opacity: 0;
    position: relative;
    margin: calculateRem(10);
    width: auto;
    height: auto;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border-color: transparent;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  .github,
  .linkedin {
    font-size: calculateRem(17);
  }
  .github:hover path {
    transition: all 0.45s ease-in-out;
    fill: $buttonHomePage;
  }
  .linkedin:hover path {
    transition: all 0.45s ease-in-out;
    fill: $buttonHomePage;
  }

  .clicked {
    opacity: 1;
    -webkit-transition: 1.3s all ease;
    transition: 1.3s all ease;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

.moveLink {
  position: relative;
  width: calculateRem(30);
  height: calculateRem(30);
  line-height: calculateRem(50);
  color: $white;
  text-decoration: none;
  font-size: calculateRem(22);
  font-weight: bold;
  transition: all 0.45s ease-in-out;
  &:hover {
    color: $buttonHomePage;
  }
}
