.containerPortofolio {
  padding-top: calculateRem(20);
  width: 100%;
  min-height: 100vh;
  background-color: $black;
  h1 {
    margin: 0 auto;
    height: auto;
    text-align: center;
    background-color: $blue;
    @include borderRadius(10);
    width: 95vw;
  }
}

.containerImg {
  margin-top: calculateRem(20);
  @include flexCenter();
}

.boxImg {
  position: relative;
  margin: calculateRem(10);
  width: calculateRem(280);
  height: calculateRem(280);
  text-decoration: none;
  border: 3px solid $purpleLight;
  @include borderRadius(20);
  @include transition(0.35s, ease-in-out, background-color);
  overflow: hidden;

  &:hover {
    .hover-portfolio {
      background-color: rgba($purpleLight, 0.7);
      opacity: 1;
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    @include objectFit();
    @include transition(0.35s, ease-out);
  }

  .hover-portfolio {
    @include flexCenter(column);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calculateRem(76);
    color: $black;
    font-size: large;
    opacity: 0;
    @include transition(0.4s, ease-out);
    h2 {
      margin: 0;
      padding: 0;
    }

    p {
      margin-bottom: 0;
      padding: 0 calculateRem(5) 0 calculateRem(5);
      font-style: italic;
      text-align: center;
    }
  }
}

.buttons {
  margin-top: calculateRem(10);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;

  .buttonReturn {
    @extend %buttons;
    &:hover {
      border-color: $pink;
    }
  }
  .buttonCv {
    @extend %buttons;
    &:hover {
      border-color: $pink;
    }
  }
}
