@import "./helpers/variables";
@import "./helpers/functions";

@import "./global/global";

@import "./components/avatar";
@import "./components/images";
@import "./components/footer";

@import "./pages/homePage";
@import "./pages/seeMorePage";
