@import "./helpers/variables";
@import "./helpers/functions";
@import "./helpers/mixins";
@import "./helpers/placeholder";

@import "./global/global";

@import "./components/avatar";
@import "./components/images";
@import "./components/footer";

@import "./pages/homePage";
@import "./pages/seeMorePage";
@import "./pages/cv";
@import "./pages/portfolio";
